@icon-bag: url("./bag.svg");
@icon-bookends: url("./bookends.svg");
@icon-cursor: url("./cursor.svg");
@icon-diamond: url("./diamond.svg");
@icon-docs: url("./docs.svg");
@icon-exclamation: url("./exclamation.svg");
@icon-skill-tree: url("./skill-tree.svg");
@icon-tome: url("./tome.svg");
@icon-insight-symbol: url("./insight-symbol.svg");
@icon-world-map: url("./icon-world-map-placeholder.svg");

.page-icon {
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  // Page icons
  &.icon-Console {
    mask-image: @icon-diamond;
  }
  &.icon-Editor {
    mask-image: @icon-cursor;
  }
  &.icon-DocsIndex {
    mask-image: @icon-bookends;
  }
  &.icon-DocsDisplay {
    mask-image: @icon-docs;
  }
  &.icon-NewDocumentation {
    mask-image: @icon-docs;
  }
  &.icon-Tutorials {
    mask-image: @icon-exclamation;
  }
  &.icon-SpellInventory {
    mask-image: @icon-tome;
  }
  &.icon-ItemInventory {
    mask-image: @icon-bag;
  }
  &.icon-WorldMap {
    mask-image: @icon-world-map;
  }
  &.icon-Settings {
    mask-image: @icon-exclamation;
  }
  &.icon-SpellGraph {
    mask-image: @icon-skill-tree;
  }
}

.svg-icon {
  background: #ffffff;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  // Sizing
  &.icon-size-32 {
    width: 32px;
    height: 32px;
  }
  // In-game symbols
  &.icon-Insight {
    mask-image: @icon-insight-symbol;
  }
  // UI
  &.icon-add-tab {
    mask-image: url("./add-tab.svg");
  }
  &.icon-bag {
    mask-image: url("./bag.svg");
  }
  &.icon-bookends {
    mask-image: url("./bookends.svg");
  }
  &.icon-close-window {
    mask-image: url("./close-window.svg");
  }
  &.icon-console {
    mask-image: url("./console.svg");
  }
  &.icon-cursor {
    mask-image: url("./cursor.svg");
  }
  &.icon-diamond {
    mask-image: url("./diamond.svg");
  }
  &.icon-docs-screen-arrow-left {
    mask-image: url("./docs-screen-arrow-left.svg");
  }
  &.icon-docs-screen-arrow-right {
    mask-image: url("./docs-screen-arrow-right.svg");
  }
  &.icon-docs-screen-icon-01 {
    mask-image: url("./docs-screen-icon-01.svg");
  }
  &.icon-docs-screen-icon-02 {
    mask-image: url("./docs-screen-icon-02.svg");
  }
  &.icon-docs-screen-icon-03 {
    mask-image: url("./docs-screen-icon-03.svg");
  }
  &.icon-docs-screen-progress-slider-01 {
    mask-image: url("./docs-screen-progress-slider-01.svg");
  }
  &.icon-docs-screen-progress-slider-02 {
    mask-image: url("./docs-screen-progress-slider-02.svg");
  }
  &.icon-docs-screen-tab-icon-01 {
    mask-image: url("./docs-screen-tab-icon-01.svg");
  }
  &.icon-docs-screen-tab-icon-02 {
    mask-image: url("./docs-screen-tab-icon-02.svg");
  }
  &.icon-docs-screen-tab-icon-03 {
    mask-image: url("./docs-screen-tab-icon-03.svg");
  }
  &.icon-docs {
    mask-image: url("./docs.svg");
  }
  &.icon-editor {
    mask-image: url("./editor.svg");
  }
  &.icon-exclamation {
    mask-image: url("./exclamation.svg");
  }
  &.icon-format {
    mask-image: url("./format.svg");
  }
  &.icon-insight-symbol {
    mask-image: url("./insight-symbol.svg");
  }
  &.icon-inventory {
    mask-image: url("./inventory.svg");
  }
  &.icon-load {
    mask-image: url("./load.svg");
  }
  &.icon-map {
    mask-image: url("./map.svg");
  }
  &.icon-new {
    mask-image: url("./new.svg");
  }
  &.icon-quest {
    mask-image: url("./quest.svg");
  }
  &.icon-run {
    mask-image: url("./run.svg");
  }
  &.icon-save {
    mask-image: url("./save.svg");
  }
  &.icon-settings {
    mask-image: url("./settings.svg");
  }
  &.icon-skill-fire {
    mask-image: url("./skill-fire.svg");
  }
  &.icon-skill-gravity {
    mask-image: url("./skill-gravity.svg");
  }
  &.icon-skill-ice {
    mask-image: url("./skill-ice.svg");
  }
  &.icon-skill-tree {
    mask-image: url("./skill-tree.svg");
  }
  &.icon-speed {
    mask-image: url("./speed.svg");
  }
  &.icon-spell-deck-screen-icon-01 {
    mask-image: url("./spell-deck-screen-icon-01.svg");
  }
  &.icon-spell-deck-screen-icon-02-currency {
    mask-image: url("./spell-deck-screen-icon-02-currency.svg");
  }
  &.icon-spell-deck {
    mask-image: url("./spell-deck.svg");
  }
  &.icon-tome {
    mask-image: url("./tome.svg");
  }
}
