.color-field {
  flex-shrink: 0;
  display: flex;
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 100%;
};

.color-picker-popover {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background: #000000;
  border-radius: 8px;
}

.alpha-picker {
  background: #eee;
}