
.w-medium,.w-small {
  .hotkey-row-container {
    flex-wrap: wrap;
    .hotkey-row-item {
      flex: 1 1 19%;
    }
  }
}

.hotkey-row-container {

  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px;
  gap: 2px;

  .hotkey-row-item {
    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      aspect-ratio: 0.889;
      background-image: url("./slot.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      image-rendering: pixelated;
    }

    color: #fff;
    width: calc(var(--ui-scale-px) * 1.5);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    position: relative;
    // background: rgba(255, 255, 255, 0.1);

    &:last-child {
      margin-right: 0;
    }

    .hotkey-item {
      position: relative;
      width: 100%;
      height: 100%;
      &:hover {
        background: rgba(255, 255, 255, 0.25);
      }
      &.drop-hovering {
        background: rgba(255, 255, 255, 0.25);
      }
      &.clickable {
        cursor: pointer;
      }
      &.item-active {
        background: rgba(0, 200, 255, 0.5);
        &:hover {
          background: rgba(100, 220, 255, 0.7);
        }
      }
    }

    .hotkey-item-icon {
      width: 100%;
      height: 100%;
    }

    .hotkey-item-count {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 2;
      top: -4px;
      right: -4px;
      min-width: 18px;
      height: 18px;
      color: #000000;
      background: #eeeeee;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 14px;
      border-radius: 8px;
    }

    .hotkey-empty-display {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-family: "Geo";
      font-size: 30px;
      color: rgba(255, 255, 255, 0.18);
      position: relative;
      user-select: none;
    }

    .hotkey-item-usage-indicator {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      overflow: hidden;
      opacity: 0.5;

      .hotkey-item-usage-indicator-flash {
        position: absolute;
        top: -20%;
        left: -100%;
        animation: flash-across 300ms linear;
        width: 50%;
        height: 140%;
        background: #ffffff;
        transform: rotate(30deg);
      }
    }

    .hotkey-content-equipped {
      animation: hotkey-equipped 300ms ease;
      animation-fill-mode: forwards;
    }
  }
  &.vertical {
    flex-direction: column;
    width: 80px;
    height: 200px;

    .hotkey-row-item {
      margin-right: 0;
      height:40px;
      width:40px;
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
}

@keyframes flash-across {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes hotkey-equipped {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: none;
  }
}
