@property --spread {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --spread2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@keyframes adana-dialog-content-fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes adana-dialog-overlay-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.adana-initial-dialog-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
  opacity: 1;

  &.closing {
    animation: adana-dialog-overlay-fade-out 1s ease forwards;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 80%;
    position: relative;
    box-sizing: border-box;
    color: #fff;
    font-size: ~'calc(min(var(--sr-width) * 0.015 + 8pt, var(--sr-height) * 0.015 + 8pt))';
    font-family: "Geo";
    opacity: 1;
    transform: scale(1);
    justify-content: flex-end;

    .content {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      opacity: 0;
      animation: adana-dialog-content-fade-in 0.25s ease forwards;
      animation-delay: 1s;
      pointer-events: auto;
      gap: 0.5em;

      .large-button-container {
        flex-grow: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .spell-edit-button {
          padding: 0.5em;
          font-size: 0.8em;
          font-family: "Troll";
          font-weight: bold;
          flex-grow: 1;
        }

        .fire-icon {
          display: block;
          flex-basis: 1.4em;
          flex-grow: 0;
          aspect-ratio: 1;
          background-color: #fa4;
          height: 1.4em;
        }
      }
    }
  }
}