.debug-container {
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg, #1D263D);
  color: var(--theme-text, inherit);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .debug-scroll-area {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    gap: 4px;

    @container style(--sr-aspect-ratio-type: wide) {
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .grid-layout {
      display: grid;
      grid-template-columns: repeat(2, auto-fit);
      gap: 4px;

      @container style(--sr-aspect-ratio-type: tall) {
        grid-template-columns: repeat(1, 1fr);
      }
      @container style(--sr-aspect-ratio-type: wide) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

.debug-section-button {
  max-width: 300px;
  box-sizing: content-box;
  cursor: pointer;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8em;
  background: #444444;
  color: #ffffff;
  position: relative;
  --text-color: #ffffff;

  .button-icon {
    position: relative;
    width: 80%;
    aspect-ratio: 1;
    display: flex;
  }

  .dbg-icon {
    aspect-ratio: 1;
    background: #ffffff;
  }
}

.debug-section-button-content {
  padding: 8px;
  background: #000;
  border-radius: 8px;
}

.debug-player-actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 200px;
  position: relative;

  button {
    width: 100%;
    flex: 1;
    cursor: pointer;
    display: flex;
    background: #44ccff;
    color: #000000;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.5em;
  }
}