.level-selector-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--theme-bg, #1D263D);
  color: var(--theme-text, #ddd);
  gap: 1em;
  overflow-y: scroll;

  h3 {
    margin-top: 1em;
    margin-bottom: 0;
  }
}